<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="Membership" connectionString="Data Source=.\sqlexpress;Initial Catalog=StrixMembership;Integrated Security=True;multipleActiveResultSets=true;App=StrixPlatform" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="mailTemplateFolder" value="Areas/Membership/Templates" />
    <add key="limitAuthenticationToBrowserSession" value="true" />
    <add key="useGroups" value="false" />
    <add key="usePermissions" value="false" />
    <add key="minRequiredPasswordLength" value="8" />
    <add key="minRequiredNonAlphanumericCharacters" value="1" />
    <add key="passwordHashIterations" value="1000" />
    <add key="maxInvalidPasswordAttempts" value="5" />
    <add key="passwordAttemptWindow" value="10" />
    <add key="verificationIdValidWindow" value="120" />
    <add key="allowUserRegistration" value="false" />
    <add key="autoApproveUsers" value="false" />
    <add key="useTerms" value="false" />
    <add key="useRegistrationComment" value="false" />
  </appSettings>
</configuration>